on:
  pull_request:
    branches:
      - main
  # eslint-disable-next-line yml/no-empty-mapping-value
  push:

jobs:
  linting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      pull-requests: read
      checks: write
    steps:
      - uses: actions/checkout@v4
      - uses: Beuterei/reusable-workflows/.github/actions/npm-environment-setup@main
        with:
          dependencies_type: development
      - name: Run linting
        uses: Beuterei/reusable-workflows/.github/actions/eslint-runner@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
