name: Node QA Tests

on:
  workflow_call:
    inputs:
      package_manager:
        description: 'The package manager to use for running scripts. Options are "npm" or "bun".'
        default: "npm"
        type: string
        required: false
      build_path:
        description: "The path to the build."
        default: "dist/"
        type: string
        required: false
      test_runner:
        description: "The test runner to use. Options are 'jest' or 'vitest'."
        default: "jest"
        type: string
        required: false

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Beuterei/reusable-workflows/.github/actions/npm-environment-setup@main
        if: inputs.package_manager == 'npm'
        with:
          dependencies_type: development
      - uses: Beuterei/reusable-workflows/.github/actions/bun-environment-setup@main
        if: inputs.package_manager == 'bun'
        with:
          dependencies_type: development

  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - uses: Beuterei/reusable-workflows/.github/actions/restore-dependency-cache@main
      - uses: Beuterei/reusable-workflows/.github/actions/build@main
        with:
          package_manager: ${{ inputs.package_manager }}
          build_path: ${{ inputs.build_path }}

  linting:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Beuterei/reusable-workflows/.github/actions/restore-dependency-cache@main
      - name: Lint
        uses: Beuterei/reusable-workflows/.github/actions/eslint-runner@main
        with:
          package_manager: ${{ inputs.package_manager }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  testing:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Beuterei/reusable-workflows/.github/actions/restore-dependency-cache@main
      - name: Test
        if: inputs.test_runner == 'jest'
        uses: Beuterei/reusable-workflows/.github/actions/jest-test-runner@main
      - name: Test
        if: inputs.test_runner == 'vitest'
        uses: Beuterei/reusable-workflows/.github/actions/vitest-test-runner@main
